.weather {
    width: 400px;
    min-width: 380px;
    border-radius: 15px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    backdrop-filter: blur(15px) brightness(60%);
    background-color: rgba(0, 0, 0, 0);
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    line-height: 1;
    font-size: 20px;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    text-transform: capitalize;
}

.weather-icon {
    max-width: 90px;
    margin: 20px;
}

.temperature {
    font-weight: 600;
    font-size: 55px;
    width: auto;
    letter-spacing: -5;
    margin: 10px 0;
}

.details {
    width: 40%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 3px;
}

.parameter-label {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
}


.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    padding-left: 3px;
}
