body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/images/seamless-abstract-background-horizontally-and-vertically-repeatable-vector.webp");
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-b62m3t-container {
  margin: auto;
  width: 95vw;
}

.loading {
  max-width: 1080px;
  color: white;
  display: flex;
  height: 300px;
  font-size: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(23, 119, 160, 0.239);
}

.topBar {
  display: flex;
  padding: 30px;
}

.toggleButton_CF {
  display: flex;
  color: white;
  padding: 10px 15px;
  margin: auto;
  width: 10vw;
  justify-content: center;
  align-content: space-around;
}

.toggle-unit {
  background-color: rgb(0, 119, 152);
  padding: 5px;
  border-radius: 5px;
}


.form-control {
  font-size: 20px;
  color: white;
  border: none;
  background-color:rgba(0, 0, 0, 0)
}